.game-page,
.rooms-page {
    padding: 1em;
}

h1 {
    margin-bottom: 15px;
}

.game-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#user-list {
    padding-right: 1em;
}

#room-list {
    margin-top: 15px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fit, 250px);
}

.room {
    text-align: center;
    position: relative;
    padding: 20px;
    padding-top: 60px;
}

.room-connected {
    position: absolute;
    top: 0;
    left: 5px;
    font-style: italic;
}

.room-name {
    margin-bottom: 40px;
}

#game {
    position: relative;
    font-size: 60px;
    color: var(--main-font-color);
}

.user {
    margin-top: 20px;
}

.user-name {
    margin: 0 20px;
}

.user-info {
    align-items: center;
}

.user-you {
    font-style: italic;
}

.user-status {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.user-status.status-ready {
    background-color: var(--status-ready-color);
    border: 3px solid var(--status-ready-dark-color);
}

.user-status.status-not-ready {
    background-color: var(--status-not-ready-color);
    border: 3px solid var(--status-not-ready-dark-color);
}

.user-progress-bar {
    margin-top: 15px;
    width: 100%;
    height: 25px;
}

.user-progress {
    height: 100%;
    width: 0;
    background-color: var(--main-progressbar-color);
}

.user-progress.done {
    background-color: var(--done-progressbar-color);
}

#ready-button {
    padding: 20px 60px;
    font-size: 40px;
}

#ready-button.ready {
    background-color: var(--main-button-background-color);
}

#ready-button.not-ready {
    background-color: var(--secondary-button-background-color);
}

.text-to-type {
    max-width: 60%;
    max-height: 60%;
    font-size: 20px;
}

.text-not-typed {
    display: inline;
}

.next-letter {
    border-bottom: 2px solid var(--typed-text-background-color);
}

.text-typed {
    background-color: var(--typed-text-background-color);
}

#timer {
    font-size: 20px;
    font-style: italic;
    position: absolute;
    padding: 10px;
    top: 0;
    right: 0;
}