.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0009;
}

.modal-root {
  display: flex;
  flex-direction: column;
  font-family: 'Potta One', cursive;
  min-width: 300px;
  max-width: 50%;
}

.modal-header,
.modal-body {
  background: var(--white);
  padding: 20px;
  margin: 0;
}

.modal-body p {
  margin: 0;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 22px;
  border-bottom: 0;
}

.modal-body {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.modal-body button {
  padding: 10px 30px;
  margin: 5px;
  margin-bottom: 0;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--main-font-color);
  cursor: pointer;
}